# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Testing / cache
.pytest_cache/
.mypy_cache/

# Jupyter (if any)
.ipynb_checkpoints/